<div class="page-header">
  <h1>Burndown-Chart: {{selectedSprint?.sprintName}}</h1>
</div>

<div class="col-sm-8" style="margin-top: 10px">
  <canvas baseChart width="400" height="600"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
</div>

<div class="col-sm-4">
    <div *ngFor="let sprint of sprints | paginate: { itemsPerPage: 5, currentPage: p }">
      <div class="jumbotron burndown-sprints"  (click)="getSprintBurnDown(sprint)" [style.background-color]="getStyle(sprint)">
        <h5>{{sprint.sprintName + " " + (sprint.startDate | date:'dd.MM.yyyy') + " - " + (sprint.endDate | date:
          'dd.MM.yyyy')}}</h5>
      </div>
    </div>
  <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>
</div>

