<div class="col-sm-6">
  <canvas baseChart width="400" height="600"
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"></canvas>
</div>

<div class="col-sm-4">
    <div *ngFor="let sprint of sprints | paginate: { itemsPerPage: 5, currentPage: p }">
      <div class="jumbotron burndown-sprints" (click)="getSprintBurnDown(sprint)">
        <h5>{{sprint.sprintName + " " + (sprint.startDate | date:'dd.MM.yyyy') + " - " + (sprint.endDate | date:
          'dd.MM.yyyy')}}</h5>
      </div>
    </div>
  <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>
</div>

