
<h1>Sprint Kapazitäten: {{sprint?.sprintName}}</h1>

<button type="button" class="btn" (click)="cancel()" style="float: right"><i
  class="glyphicon glyphicon-arrow-left"></i> <span class="hidden-xs">Zurück</span>
</button>



<div class="table-responsive" style="margin-top: 50px">
  <table class="table">
    <tr>
      <th>Nutzer</th>
      <th>Tage</th>
      <th>Kapazität pro Tag in Stunden</th>
      <th></th>
    </tr>
    <tr *ngFor="let sprintCapacity of sprint?.sprintCapacity; let i = index">
      <td>{{sprintCapacity.userDisplayName}}</td>
      <td>
        <input type="text"
               class="form-control"
               [readonly]="editedIndex !== i"
               (click)="edit(sprintCapacity, i)"
                (change)="updateSprintCapacity(sprintCapacity)"
               [(ngModel)]="sprintCapacity.daysOff"
               style="background-color:white;"/>
      </td>
      <td>
        <input type="text"
               class="form-control"
               [readonly]="editedIndex !== i"
               (click)="edit(sprintCapacity, i)"
               (change)="updateSprintCapacity(sprintCapacity)"
               [(ngModel)]="sprintCapacity.capacityPerDay"
               style="background-color:white;"/></td>
      <td>

        <button type="button" class="btn btn-xs"
                (click)="deleteSprintCapacity(sprintCapacity)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>

      </td>
    </tr>

    <tr>
      <td>
        <select [(ngModel)]="userId" id="user-id" class="form-control">
          <option *ngFor="let user of users" value="{{ user._id }}">{{user.displayName()}}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="daysOff" type="number" class="form-control" id="days-off">


      </td>
      <td>
        <input [(ngModel)]="capacityPerDay" type="number" class="form-control" id="capacity-per-day">
      </td>
      <td>
        <button type="button" class="btn btn-xs" style="margin-top: 10px"
                (click)="createSprintCapacity()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>

  </table>

</div>
