<div class="table-responsive col-sm-8">
  <table class="table">
    <tr>
      <th>Nutzer</th>
      <th>Tage</th>
      <th>Kapazität pro Tag in Stunden</th>
      <th></th>
    </tr>
    <tr *ngFor="let sprintCapacity of sprint.sprintCapacity">
      <td>{{sprintCapacity.userId}}</td>
      <td>{{sprintCapacity.daysOff}}</td>
      <td>{{sprintCapacity.capacityPerDay}}</td>
      <td>

        <button type="button" class="btn btn-xs"
                (click)="deleteSprintCapacity(sprintCapacity._id)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

      </td>
    </tr>

    <tr>
      <td>
        <select [(ngModel)]="userId" id="user-id" class="form-control">
          <option *ngFor="let user of users" value="{{ user._id }}">{{ user.email }}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="daysOff" type="number" class="form-control" id="days-off">
      </td>
      <td>
        <input [(ngModel)]="capacityPerDay" type="number" class="form-control" id="capacity-per-day">
      </td>
      <td>
        <button type="button" class="btn btn-xs" style="margin-top: 10px"
                (click)="createSprintCapacity()">
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>

  </table>

</div>
