<div class="app-sprint">
  <h1>Sprint</h1>
  <div class="row">
    <div class="col-sm-12">
      <div class="table-responsive">
        <table class="table">
          <tr>
            <th class="col-sm-3">Name</th>
            <th class="col-sm-3">Startdatum</th>
            <th class="col-sm-3">Enddatum</th>
          </tr>
          <tr *ngFor="let sprint of sprints">
            <td>{{sprint.sprintName}}</td>
            <td>{{sprint.startDate}}</td>
            <td>{{sprint.endDate}}</td>
          </tr>
        </table>

      </div>
    </div>
  </div>

  <div class="row">
    <div *ngIf="create">
      <div class="col-sm-12">
        <form role="form"
              (keyup.enter)="createSprint(sprintName.value, startDate.value, endDate.value)" class="form-inline">
          <div class="form-group col-sm-4">
            <label for="sprint-name" class="sr-only">Name</label>
            <input type="text" #sprintName class="form-control col-sm-3" id="sprint-name" placeholder="Name">
          </div>
          <div class="form-group col-sm-4">
            <label for="start-date" class="sr-only">(Datum Auswahl funktioniert bisher nur unter Chrome - testweise bspw. "2017-01-15"
              eintragen)</label>
            <input type="date" #startDate class="form-control col-sm-3" id="start-date" placeholder="Startdatum">
          </div>
          <div class="form-group col-sm-4">
            <label for="end-date" class="sr-only">(Datum Auswahl funktioniert bisher nur unter Chrome - testweise bspw. "2017-01-15"
              eintragen)</label>
            <input type="date" #endDate class="form-control col-sm-3" id="end-date" placeholder="Enddatum">
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="row">
    <button type="submit" class="btn btn-info btn-lg" (click)="showCreation()">
      <span class="glyphicon glyphicon-plus"></span>
    </button>
  </div>

</div>
