<div class="row">

  <h1>{{today}}</h1>

  <div class="table-responsive col-sm-8">
    <table class="table">
      <tr>
        <th>Status</th>
        <th>Name</th>
        <th>Startdatum</th>
        <th>Enddatum</th>
        <th></th>
      </tr>
      <tr *ngFor="let sprint of sprints | paginate: { itemsPerPage: 20, currentPage: p }">
        <td><span *ngIf="checkStatus(sprint)" class="glyphicon glyphicon-ok" style="margin-left: 15px"></span><span *ngIf="!checkStatus(sprint)" class="glyphicon glyphicon-remove" style="margin-left: 15px"></span></td>
        <td>{{sprint.sprintName}}</td>
        <td>{{sprint.startDate | date:'dd.MM.yyyy'}}</td>
        <td>{{sprint.endDate | date:'dd.MM.yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-xs" (click)="chooseSprintForEdit(sprint)">
            <span class="glyphicon glyphicon-edit"></span>
          </button>

          <button type="button" class="btn btn-xs" (click)="openSprintCapacity(sprint._id)">
            <span class="glyphicon glyphicon-list"></span>
          </button>

          <button type="button" class="btn btn-xs" (click)="deleteSprint(sprint._id)">
            <span class="glyphicon glyphicon-trash"></span>
          </button>

        </td>
    </table>

    <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>

  </div>


  <div class="jumbotron col-sm-4">
    <h3 *ngIf="!editMode">Sprint erstellen</h3>
    <h3 *ngIf="editMode">Sprint editieren</h3>
    <button *ngIf="editMode" type="button" class="btn btn-xs" style="float: right" (click)="cancelSprintForEdit()">
      <span class="glyphicon glyphicon-remove"></span>
    </button>
    <div class="form-group">
      <label for="sprint-name">Anzeigename</label>

      <input type="text" *ngIf="!editMode" class="form-control" [(ngModel)]="sprintName" id="sprint-name"
             autocomplete="off">

      <input type="text" *ngIf="editMode" [(ngModel)]="chosenSprint.sprintName" class="form-control"
             autocomplete="off"
             (change)="updateSprint(chosenSprint)">

    </div>
    <div class="form-group">
      <label for="start-date">Startdatum</label>

      <input type="date" *ngIf="!editMode" [(ngModel)]="startDate"
             class="form-control"
             id="start-date">

      <input type="date" *ngIf="editMode" [(ngModel)]="chosenSprint.startDate"
             class="form-control"
             (change)="updateSprint(chosenSprint)">
    </div>
    <div class="form-group">
      <label for="end-date">Enddatum</label>

      <input type="date" *ngIf="!editMode"  [(ngModel)]="endDate"
             class="form-control"
             id="end-date">

      <input type="date" *ngIf="editMode" [(ngModel)]="chosenSprint.endDate"
             class="form-control"
      (change)="updateSprint(chosenSprint)">
    </div>

    <div class="form-group">
      <button *ngIf="!editMode" type="button" class="btn btn-sm"
              (click)="createSprint()">
        Erstellen
      </button>

    </div>

  </div>


</div>






