<div class="page-header">
  <h1>Sprint Kapazitäten: {{sprint?.sprintName}}</h1>

  <button type="button" class="btn" (click)="cancel()" style="float: right"><i
    class="glyphicon glyphicon-arrow-left"></i> <span class="hidden-xs">Zurück</span>
  </button>
</div>
<form role="form" (submit)="createSprintCapacity()" id="sprintCapacityForm" #sprintCapacityForm="ngForm">
<div class="table-responsive" style="margin-top: 50px">
  <table class="table">

    <tr>
      <th>Nutzer</th>
      <th>Tage</th>
      <th>Kapazität pro Tag in Stunden</th>
      <th></th>
    </tr>
    <tr *ngFor="let sprintCapacity of sprint?.sprintCapacity; let i = index">
      <td>{{sprintCapacity.userDisplayName}}</td>
      <td>
        <input type="text"
               #daysOff
               class="form-control"
               id="edit-days-off" name="edit-days-off"
               [readonly]="editedIndex !== i"
               (click)="edit(sprintCapacity, i)"
                (change)="updateSprintCapacity(sprintCapacity, daysOff.value, capacityPerDay.value)"
               value="{{sprintCapacity.daysOff}}"
               required minlength="1"
               style="background-color:white;"/>
      </td>
      <td>
      <input type="text"
             #capacityPerDay
               class="form-control"
               id="edit-capacity-per-day" name="edit-capacity-per-day"
               [readonly]="editedIndex !== i"
               (click)="edit(sprintCapacity, i)"
               (change)="updateSprintCapacity(sprintCapacity, daysOff.value, capacityPerDay.value)"
               value="{{sprintCapacity.capacityPerDay}}"
               required minlength="1"
               style="background-color:white;"/></td>
      <td>

        <button type="button" class="btn btn-xs"
                (click)="deleteSprintCapacity(sprintCapacity)">
          <span class="glyphicon glyphicon-trash"></span>
        </button>

      </td>
    </tr>

    <tr>
      <td>
        <select [(ngModel)]="userId" id="user-id" name="user-id" class="form-control" required minlength="2">
          <option *ngFor="let user of users" value="{{ user._id }}">{{user.displayName()}}</option>
        </select>
      </td>
      <td>
        <input [(ngModel)]="daysOff" type="number" class="form-control" id="days-off" name="days-off" required minlength="1">


      </td>
      <td>
        <input [(ngModel)]="capacityPerDay" type="number" class="form-control" id="capacity-per-day" name="capacity-per-day" required minlength="1">
      </td>
      <td>
        <button type="submit" class="btn btn-xs" style="margin-top: 10px"
                >
          <span class="glyphicon glyphicon-plus"></span>
        </button>
      </td>
    </tr>

  </table>

</div>
</form>
