<div class="page-header">
  <h1>Sprint Retrospektive: {{sprint?.sprintName}}</h1>

  <button type="button" class="btn" (click)="cancel()" style="float: right"><i
    class="glyphicon glyphicon-arrow-left"></i> <span class="hidden-xs">Zurück</span>
  </button>
</div>

<div class="table-responsive" style="margin-top: 50px">
  <table class="table">
    <tr>
      <th class="col-sm-2">Nutzer</th>
      <th class="col-sm-10">Kommentar</th>
      <th></th>
    </tr>
    <tr *ngFor="let sprintRetrospective of sprint?.retrospective">
      <td >
        {{sprintRetrospective.userDisplayName}}
      </td>
      <td>
        {{sprintRetrospective.comment}}
      </td>
    </tr>
    <tr>
      <tr *ngFor="let retrospective of sprintRetrospectiveArray">
        <td >
          <input type="text" [(ngModel)]="retrospective.userId"
                 id="user-id" class="form-control" readonly>
        </td>
        <td>
          <textarea rows="5" [(ngModel)]="retrospective.comment" id="comment" class="form-control"
                    placeholder="Hier können Sie einen Kommentar zu dem jeweiligen Benutzer eingeben."></textarea>
        </td>
      </tr>
    <tr>
      <td colspan="2">
        <button type="button" class="btn btn-primary btn-block"
                (click)="createSprintRetrospective()">
          <span class="glyphicon glyphicon-floppy-disk"></span>
        </button>
      </td>
    </tr>
  </table>
</div>


<h1>Nicht abschicken - funktioniert noch nicht!!!</h1>
