<div class="row">

  <div class="table-responsive col-sm-8">
    <table class="table" *ngFor="let sprint of sprints | paginate: { itemsPerPage: 3, currentPage: p }">
      <tr>
        <th>Name</th>
        <th>Startdatum</th>
        <th>Enddatum</th>
        <th></th>
      </tr>
      <tr class="active">
        <td>{{sprint.sprintName}}</td>
        <td>{{sprint.startDate | date:'dd.MM.yyyy'}}</td>
        <td>{{sprint.endDate | date:'dd.MM.yyyy'}}</td>
        <td>
          <button type="button" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-ok"></span>
          </button>

          <a href="#edit-sprint-{{sprint._id}}" data-toggle="modal">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>

          <button type="button" class="btn btn-default btn-sm" (click)="deleteSprint(sprint._id)">
            <span class="glyphicon glyphicon-remove"></span>
          </button>

        </td>
      </tr>
      <tr>
        <th>Nutzer</th>
        <th>Tage</th>
        <th>Kapazität pro Tag in Stunden</th>
        <th></th>
      </tr>
      <tr *ngFor="let sprintCapacity of sprint.sprintCapacity " class="active">
        <td>{{sprintCapacity.userId}}</td>
        <td>{{sprintCapacity.daysOff}}</td>
        <td>{{sprintCapacity.capacityPerDay}}</td>
        <td>


          <a href="#edit-sprintcapacity-{{sprintCapacity._id}}" data-toggle="modal">
            <button type="button" class="btn btn-default btn-sm">
              <span class="glyphicon glyphicon-edit"></span>
            </button>
          </a>


          <div class="modal fade" id="edit-sprintcapacity-{{sprintCapacity._id}}" tabindex="-1" role="dialog"
               aria-labelledby="edit-sprint" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h3 class="modal-title" id="edit-sprintcapacity">Kapazität des Sprints editieren</h3>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <label for="user-edit">Name</label>
                    <select #userId id="user-edit" class="form-control">
                      <option *ngFor="let user of users" value="{{ user._id }}">{{ user.email }}</option>
                    </select>
                  </div>

                  <div class="form-group">
                    <label for="days-off-edit">Tage</label>
                    <input type="text" #daysOff class="form-control" id="days-off-edit"
                           value="{{sprintCapacity.daysOff}}">
                  </div>
                  <div class="form-group">
                    <label for="capacity-edit">Kapazität pro Tag in Stunden</label>
                    <input type="text" #capacityPerDay class="form-control" id="capacity-edit"
                           value="{{sprintCapacity.capacityPerDay}}">
                  </div>
                  <button type="button" class="btn btn-default" data-dismiss="modal"
                          (click)="updateSprintCapacity(sprint._id, sprintCapacity._id, userId.value, daysOff.value, capacityPerDay.value)">
                    Speichern
                  </button>

                </div>
              </div>
            </div>
          </div>

          <button type="button" class="btn btn-default btn-sm" (click)="deleteSprintCapacity(sprint._id, sprintCapacity._id)">
          <span class="glyphicon glyphicon-remove"></span>
        </button>

        </td>
      </tr>


      <tr>
        <td>
          <select #userId id="user-id" class="form-control">
            <option *ngFor="let user of users" value="{{ user._id }}">{{ user.email }}</option>
          </select>
        </td>
        <td>
          <input type="number" #daysOff class="form-control" id="days-off">
        </td>
        <td>
          <input type="number" #capacityPerDay class="form-control" id="capacity-per-day">
        </td>
        <td>
          <button type="button" class="btn btn-default btn-sm"
                  (click)="createSprintCapacity(sprint._id, userId.value, daysOff.value, capacityPerDay.value)">
            <span class="glyphicon glyphicon-plus"></span>
          </button>
        </td>
      </tr>


      <div class="modal fade" id="edit-sprint-{{sprint._id}}" tabindex="-1" role="dialog"
           aria-labelledby="edit-sprint" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h3 class="modal-title" id="edit-sprint">Sprint editieren</h3>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label for="sprint-name-edit">Name</label>
                <input type="text" #sprintName class="form-control" id="sprint-name-edit"
                       value="{{sprint.sprintName}}">
              </div>

              <div class="form-group">
                <label for="start-date-edit">Startdatum</label>
                <input type="text" #startDate class="form-control" id="start-date-edit"
                       value="{{sprint.startDate | date:'yyyy-MM-dd'}}">
              </div>
              <div class="form-group">
                <label for="end-date-edit">Enddatum</label>
                <input type="text" #endDate class="form-control" id="end-date-edit"
                       value="{{sprint.endDate | date:'yyyy-MM-dd'}}">
              </div>
              <button type="button" class="btn btn-default" data-dismiss="modal"
                      (click)="updateSprint(sprint._id, sprintName.value, startDate.value, endDate.value)">
                Speichern
              </button>

            </div>
          </div>
        </div>
      </div>

    </table>

    <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>

  </div>
  <div class="jumbotron col-sm-4">
    <h3>Sprint erstellen</h3>
    <div class="form-group">
      <label for="sprint-name">Anzeigename</label>
      <input type="text" #sprintName class="form-control" id="sprint-name" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="start-date">Startdatum</label>
      <input type="date" #startDate class="form-control" id="start-date" autocomplete="off">
    </div>
    <div class="form-group">
      <label for="end-date">Enddatum</label>
      <input type="date" #endDate class="form-control" id="end-date" autocomplete="off">
    </div>
    <div class="form-group">
      <button type="button" class="btn btn-default btn-sm"
              (click)="createSprint(sprintName.value, startDate.value, endDate.value)">
        Erstellen
      </button>
    </div>
  </div>


</div>





