<div class="col-sm-offset-3 col-sm-5">
  <div class="page-header">
    <h1>Login</h1>
  </div>
  <form role="form" (submit)="onSubmit()" id="loginForm" #loginForm="ngForm">
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text" [(ngModel)]="email" class="form-control" id="email" name="email">
    </div>
    <div class="form-group">
      <label for="email">Passwort</label>
      <input type="password" [(ngModel)]="password"  class="form-control" id="password" name="password">
    </div>
    <button type="submit" class="btn btn-primary pull-right">Anmelden</button>
    <p style="color: red" *ngIf="getBadLogin()">{{errorMessage}}</p>

  </form>
</div>

