<section class="app-backlogItems">

  <div class="page-header">
    <h1>{{displayName}}</h1>
  </div>

  <table class="table table-hover">
    <thead>
      <th class="col-xs-1">#</th>
      <th class="col-xs-3">Bezeichnung</th>
      <th class="col-xs-1">Status</th>
      <th class="col-xs-2">Priorität</th>
      <th class="col-xs-2">Erstellt von</th>
      <th class="col-xs-2">Zugeteilt an</th>
      <th class="col-xs-1 text-right">
        <button type="button" class="btn btn-xs" (click)="newBacklogItem()" style="margin-bottom: 2px;">
          <i class="glyphicon glyphicon-plus"></i> <span class="hidden-xs">Neu</span>
        </button>
      </th>
    </thead>
    <tbody>
      <tr *ngFor="let backlogitem of backlogitems | paginate: { itemsPerPage: 25, currentPage: p }">
        <td class="col-xs-1">{{backlogitem.itemType}}</td>
        <td class="col-xs-3">{{backlogitem.title}}</td>
        <td class="col-xs-1">{{backlogitem.state}}</td>
        <td class="col-xs-2">{{backlogitem.priority}}</td>
        <td class="col-xs-2">{{backlogitem.authorDisplayName}}</td>
        <td class="col-xs-2">{{backlogitem.assignedToDisplayName}}</td>
        <td class="col-xs-1 text-right">
          <button class="btn btn-xs" (click)="openBacklogItem(backlogitem._id)" style="margin-right: 3px;"><span class="glyphicon glyphicon-edit"></span>
          </button>
          <button class="btn btn-xs" (click)="markAsDeletedBacklogitem(backlogitem)" data-toggle="modal" data-target="#deleteBacklogItem"><span
            class="glyphicon glyphicon-trash"></span></button>
        </td>
      </tr>
    </tbody>
  </table>

  <pagination-controls *ngIf="backlogitems && backlogitems.length > 25" (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>


  <div class="modal fade" id="deleteBacklogItem" tabindex="-1" role="dialog" aria-labelledby="delete-backlogItem" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="delete-backlogItem">Backlogeintrag endgültig löschen?</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cancelDeletion()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p style="color: red;">Sind Sie ganz sicher? Diese Aktion löscht alle anhängenden Daten. Diese Aktion ist unwiderruflich.</p>
          <button (click)="remove()" type="button" data-dismiss="modal"
                  class="btn btn-danger btn-sm">
            Ja, bitte löschen.
          </button>

        </div>
      </div>
    </div>
  </div>
</section>
