<div class="app-root navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a href="javascript:void(0)"  class="navbar-brand">Projektmanagement</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

          <li *ngIf="isLoggedIn()">
            <a routerLink="projects">Projekte</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="user-story">User-Story</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="backlog">Backlog</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="sprints">Sprint</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="board">SCRUM Board</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="estimation">Estimation Effort</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="chart">Burndown Chart</a>
          </li>
          <li *ngIf="isLoggedIn()">
            <a routerLink="roadmap">Roadmap</a>
          </li>

      </ul>

      <div class="nav navbar-nav navbar-right">
        <a routerLink="login">
          <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary">
            <span class="glyphicon glyphicon-log-in"></span> Login</button>
        </a>

        <a routerLink="/register">
        <button *ngIf="!isLoggedIn()" type="button" class="btn btn-primary">
          <span class="glyphicon glyphicon-user"></span> Registrieren</button>
      </a>


        <button *ngIf="isLoggedIn()" type="button" class="btn btn-primary" (click)="logout()"><span
          class="glyphicon glyphicon-log-out"></span> Logout</button>

      </div>

    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>




