<div class="app-root navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <a routerLink="projects" class="navbar-brand">Projektmanagement</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

        <li>
          <a routerLink="landing">Home</a>
        </li>
         <li>
          <a routerLink="user-story">User-Story</a>
        </li>
        <li>
          <a routerLink="backlog">Backlog</a>
        </li>
        <li>
          <a routerLink="sprint">Sprint</a>
        </li>
        <li>
          <a routerLink="board">SCRUM Board</a>
        </li>
        <li>
          <a routerLink="estimation">Estimation Effort</a>
        </li>
        <li>
          <a routerLink="chart">Burndown Chart</a>
        </li>
        <li>
          <a routerLink="roadmap">Roadmap</a>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <a routerLink="login"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-log-in"></span></button></a>
      </div>

    </div>
  </div>
</div>

<div class="container">
  <app-project-nav></app-project-nav>
  <router-outlet></router-outlet>
</div>




