<div class="app-root navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a routerLink="projects" class="navbar-brand">{{ currentProject ? currentProject.displayName : "Projektmanagement" }}</a>
    </div>

    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">

        <!--<li *ngIf="isLoggedIn()">-->
          <!--<a routerLink="projects">Projekte</a>-->
        <!--</li>-->
        <li *ngIf="isLoggedIn() && currentProject">
          <a routerLink="user-story">User-Story</a>
        </li>
        <li *ngIf="isLoggedIn() && currentProject">
          <a routerLink="backlog">Backlog</a>
        </li>
        <li *ngIf="isLoggedIn() && currentProject">
          <a routerLink="sprints">Sprints</a>
        </li>
        <li *ngIf="isLoggedIn() && currentProject">
          <a routerLink="roadmap">Roadmap</a>
        </li>
        <li *ngIf="isLoggedIn() && currentProject" class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Boards<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li *ngIf="isLoggedIn()"><a routerLink="board">SCRUM Board</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="estimation">Estimation Effort</a></li>
            <li *ngIf="isLoggedIn()"><a routerLink="chart">Burndown Chart</a></li>
          </ul>
        </li>
      </ul>

      <div class="nav navbar-nav navbar-right">
        <li *ngIf="!isLoggedIn()"><a routerLink="/register"><span class="glyphicon glyphicon-user"></span> Registrieren</a></li>
        <li *ngIf="!isLoggedIn()"><a routerLink="login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

        <li *ngIf="isLoggedIn()"><a href="javascript: void(0);" (click)="logout()"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <router-outlet></router-outlet>
</div>




