<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">New</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body" [dragula]='"first-bag"'>
            <button class="btn btn-primary btn-block" *ngFor="let backlogitem of backlogitems">{{backlogitem.title}}</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Approved</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body" [dragula]='"first-bag"'>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Committed</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body" [dragula]='"first-bag"'>

          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Done</div>
      <div class="panel-body">
        <div class="panel panel-default">
          <div class="panel-body" [dragula]='"first-bag"'>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
