<div class="row">
  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">New</div>
      <div id="new" class="panel-body" [dragula]='"another-bag"' [dragulaModel]="newItems">
        <button [disabled]="isBusy" class="btn btn-primary btn-block" *ngFor="let item of newItems" data-id="{{item._id}}">{{item.title}}</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Approved</div>
      <div id="approved" class="panel-body" [dragula]='"another-bag"' [dragulaModel]="approvedItems">
        <button [disabled]="isBusy" class="btn btn-primary btn-block" *ngFor="let item of approvedItems" data-id="{{item._id}}">{{item.title}}</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Committed</div>
      <div id="committed" class="panel-body" [dragula]='"another-bag"' [dragulaModel]="committedItems">
        <button [disabled]="isBusy" class="btn btn-primary btn-block" *ngFor="let item of committedItems" data-id="{{item._id}}">{{item.title}}</button>
      </div>
    </div>
  </div>

  <div class="col-sm-3">
    <div class="panel panel-primary">
      <div class="panel-heading">Done</div>
      <div id="done" class="panel-body" [dragula]='"another-bag"' [dragulaModel]="doneItems">
        <button [disabled]="isBusy" class="btn btn-primary btn-block" *ngFor="let item of doneItems" data-id="{{item._id}}">{{item.title}}</button>
      </div>
    </div>
  </div>
</div>

