<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header">
        <h1>Roadmap</h1>
      </div>
      <div class="row">
        <div class="form-group pull-left">
          <label for="startdate" class="col-xs-1">Von</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="startdate">
          </div>
          <label for="enddate" class="col-xs-1">Bis</label>
          <div class="col-xs-3">
            <input type="text" class="form-control" id="enddate">
          </div>
          <div class="col-xs-2">
            <button class="btn btn-Default">Filtern</button>
          </div>
        </div>
        <div class="pull-right">
          <div class="col-xs-2">
            <button class="btn btn-success" data-toggle="modal" data-target="#formModal">Initiative Hinzufügen</button>
          </div>
        </div>
      </div>
      <div style="display:inline-block;width:100%;overflow-y:auto;">
        <ul class="timeline timeline-horizontal">
          <li class="timeline-item" *ngFor="let initiative of initiatives">
            <div class="timeline-badge primary" (click)="onSelect(initiative)"
                 [style.background-color]="changeColor(initiative)">
              <i *ngIf="isFinished(initiative)" class="glyphicon glyphicon-check"></i>
              <i *ngIf="isOpen(initiative)" class="glyphicon glyphicon-unchecked"></i>
              <i *ngIf="!isOpen(initiative) && !isFinished(initiative)" class="glyphicon glyphicon-edit"></i>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4 class="timeline-title">{{initiative.title}}</h4>
                <p>
                  <small class="text-muted"><i class="glyphicon glyphicon-time"></i>{{initiative.startDate | date:
                    'dd.MM.yyyy'}} - {{initiative.endDate | date: 'dd.MM.yyyy'}}
                  </small>
                </p>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="jumbotron container-fluid" *ngIf="selectedInitiative">
        <div class="col-xs-6 col-md-offset-3">
          <h2>{{selectedInitiative.title}}</h2>
          <table class="table">
            <tbody>
            <tr>
              <th class="col-xs-3">Beschreibung</th>
              <td *ngIf="!editMode">{{selectedInitiative.description}}</td>
              <td *ngIf="editMode"><input type="text" class="form-control" [(ngModel)]="selectedInitiative.description">
              </td>
            </tr>
            <tr>
              <th class="col-xs-3">Ziel</th>
              <td *ngIf="!editMode">{{selectedInitiative.goal}}</td>
              <td *ngIf="editMode"><input type="text" class="form-control" [(ngModel)]="selectedInitiative.goal"></td>
            </tr>
            <tr>
              <th class="col-xs-3">Features</th>
              <td>
                <ul>
                  <li class="list-group-item"
                      *ngFor="let feature of features; let i = index">
                    {{feature.title}}
                    <span *ngIf="editMode" class="pull-right">
                        <button class="btn btn-xs btn-danger" (click)="deleteFeature(i)">
                          <span class="glyphicon glyphicon-trash"></span>
                        </button>
                    </span>
                  </li>
                </ul>
                <span *ngIf="editMode" class="pull-right">
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="New Feature..." [(ngModel)]="featureTitle">
                    <span class="input-group-btn">
                      <button class="btn btn-secondary" type="button" (click)="addFeature()">
                        <span class="glyphicon glyphicon-plus"></span>
                      </button>
                    </span>
                  </div>
                </span>
              </td>
            </tr>
            <tr>
              <td></td>
              <td style="text-align: right">
                <button *ngIf="!editMode"type="button" class="btn btn-default" (click)="edit()">
                  <span class="glyphicon glyphicon-edit"></span>
                </button>
                <button *ngIf="editMode"type="button" class="btn btn-default" (click)="updateInitiative()">
                  <span class="glyphicon glyphicon-floppy-disk"></span>
                </button>
                <button type="button" class="btn btn-danger" (click)="deleteInitiative()">
                  <span class="glyphicon glyphicon-trash"></span>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="formModal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Füge eine Initiative hinzu!</h3>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="initiative-title" class="col-xs-2 col-form-label">Anzeigename</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="initiative-title" [(ngModel)]="initiativeTitle">
          </div>
        </div>
        <div class="form-group row">
          <label for="start-date" class="col-xs-2 col-form-label">Startdatum</label>
          <div class="col-xs-6">
            <input type="date" [(ngModel)]="initiativeStartDate"
                   class="form-control" id="start-date">
          </div>
        </div>
        <div class="form-group row">
          <label for="end-date" class="col-xs-2 col-form-label">Enddatum</label>
          <div class="col-xs-6">
            <input type="date" [(ngModel)]="initiativeEndDate"
                   class="form-control" id="end-date">
          </div>
        </div>
        <div class="form-group row">
          <label for="initiative-goal" class="col-xs-2 col-form-label">Ziel</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="initiative-goal" [(ngModel)]="initiativeGoal">
          </div>
        </div>
        <div class="form-group row">
          <label for="initiative-description" class="col-xs-2 col-form-label">Beschreibung</label>
          <div class="col-xs-10">
            <input type="text" class="form-control" id="initiative-description" [(ngModel)]="initiativeDescription">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" (click)="addInitiative()">Erstellen</button>
      </div>
    </div>
  </div>
</div>
