<h3>Bitte wählen Sie ein Projekt aus:</h3>
<div class="row">

  <div class="jumbotron col-sm-3 project-box" *ngFor="let project of projects">
    <a routerLink="{{project._id}}" ><span class="glyphicon glyphicon-edit" style="float: right"></span></a>

    <a routerLink="/landing" (click)="chooseProject(project._id)"><h4>{{project.displayName}}</h4></a>
    {{project.description}}<br>
    {{project.dueDate | date:'dd.MM.yyyy'}} <br>
  </div>

  <div class="jumbotron vertical-center col-sm-3 project-box">
    <div class="container">
      <a routerLink="new"><h4><span class="glyphicon glyphicon-plus"></span></h4></a>
    </div>
  </div>
</div>


