<div class="app-project">
  <h3>Folgende Projekte sind im System</h3>
  <ul>
    <li *ngFor="let project of projects">
      <p>{{ project.id}} {{project.displayName}} {{project.description}} {{project.dueDate}} {{project.owner}}</p>
    </li>
  </ul>

  <p>
    <button (click)="showCreation()" type="submit" class="btn btn-default">Neues Projekt?</button>
  </p>

  <div *ngIf="create">
    <div class="jumbotron center-block">
      <form role="form" (submit)="createProject(displayName.value, description.value, dueDate.value, owner.value)">
        <div class="form-group">
          <input type="text" #displayName class="form-control" id="display-name" placeholder="Anzeigename">
        </div>
        <div class="form-group">
          <textarea #description class="form-control" id="description" placeholder="Beschreibung"></textarea>
        </div>
        <div class="form-group">
          <input type="date" #dueDate class="form-control" id="due-date" placeholder="Fälligkeit">
        </div>
        <div class="form-group">
          <select #owner>
            <option *ngFor="let user of users" value="{{ user.id }}">{{ user.email }}</option>
          </select>
        </div>
        <div class="form-group">
          <select disabled #stakeholders>

          </select>
        </div>
        <div class="form-group">
          <select disabled #contributors>

          </select>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</div>
