<section class="app-UserStory">
  <button type="button" class="btn btn-default" data-toggle="modal" data-target="#formModal">Neue Userstory
    hinzufügen
  </button>
  <div id="formModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <label>Füge eine neue Userstory hinzu!</label>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body">
          <header class="header">
            <input #inputUserStoryLabel class="newUserStory" placeholder="What's your Story? Insert a Task !"
                   autofocus="" [(ngModel)]="userStoryName" (keyup.enter)="addUserStory()"
                   (keyup.enter)="inputUserStoryLabel.value=''">
            <!--<input #inputAuthorLabel class="newUserStory" placeholder="Author?" autofocus="" [(ngModel)]="userStoryAuthor" (keyup.enter)="addUserStory()" (keyup.enter)="inputAuthorLabel.value=''" (keyup.enter)="inputUserStoryLabel.value=''"> !-->
            <!--<select #owner id="owner" [(ngModel)]="userStoryAuthor" class="form-control" >
              <option *ngFor="let user of users" value="{{user._id}}">{{ user.email }}</option>
            </select>-->
          </header>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-success btn-lg" (click)="addUserStory()">Add Userstory</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <div id="container">
    <h2>Userstories</h2>
    <section class="myclass" *ngIf="userstories?.length > 0">
      <ul class="userStory-list">
        <li *ngFor="let userstory of userstories | paginate: { itemsPerPage: 5, currentPage: p }" [class.completed]="userstory.complete" class="list-group-item">
          <div class="view">
            <table class="table table-hover">
              <thead>
              <th>Status</th>
              <th>Titel</th>
              <th>Author</th>
              <th>Erstellt am</th>
              <th></th>
              <th></th>
              </thead>
              <tr>
                <td><input #checkboxUserstory [id]="checkbox-2+userstory._id" class="checkbox-glyph sr-only" data-toggle="toggle" type="checkbox"
                           (click)="toggleUserstory(userstory, checkboxUserstory.checked.toString())" [checked]="userstory.complete">
                <label [for]='checkbox-2+userstory._id' class='fancy-checkbox-label'></label>
                </td>
                <td><label class="black">{{userstory.title}}</label></td>
                <td><label class="blacksmall">{{userstory.authorDisplayName}}</label></td>
                <td><label>{{userstory.creationDate | date:'dd.MM.yyyy'}}</label></td>
                <td>
                  <button type="button" class="btn btn-default btn-sm" data-toggle="modal" [attr.data-target]="'#editModal'+userstory._id">
                    <span class="glyphicon glyphicon-edit"></span>
                  </button>
                  <div [id]="'editModal'+userstory._id" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal">&times;</button>
                          <h4 class="modal-title">Userstory bearbeiten</h4>
                        </div>
                        <div class="modal-body">
                          <input #title value="{{userstory.title}}">
                          <input class="checkbox" data-toggle="toggle" type="checkbox" #state  [checked]="userstory.complete">
                          <select #author value="{{userstory.authorId}}" class="form-control">
                            <option *ngFor="let user of users" value="{{user._id}}">{{user.email}}</option>
                          </select>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-default" data-dismiss="modal" (click)="editUserstory(userstory._id, title.value,state.checked.toString(),author.value)">Bearbeiten</button>
                          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
                <td>
                  <button id="#btnremove" class="btn btn-default btn-sm" (click)="removeUserStory(userstory)">
                    <span class="glyphicon glyphicon-trash"></span>
                  </button>
                </td>
              </tr>
            </table>


          </div>
        </li>
        <pagination-controls (pageChange)="p = $event" previousLabel="Zurück" nextLabel="Vor"></pagination-controls>
      </ul>
    </section>
  </div>
  <footer class="footer" *ngIf="userstories?.length > 0">
    <span class="userStory-count"><strong>{{userstories?.length}}</strong> {{userstories?.length == 1 ? 'UserStory' : 'User Stories'}} left</span>
  </footer>
</section>
